*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.img{
    width: 280px;
    height: 330px;
}
.gou{
   box-shadow: 0 0 15px 15px darkslateblue;
}
.btn{
    border: 1px solid green;
    box-shadow: 0 0 10px 10px gray;
}